<div class="container">
  <div>
      <mat-form-field appearance="outline" class="search-form">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Search</mat-label>
        <input matInput
               type="text"
               [(ngModel)]="searchTerm"
               (input)="filterCountries()"
               placeholder="Search for a country...">
      </mat-form-field>
    <div class="col-md-4 mb-4 text-end">
      <select class="form-select" [(ngModel)]="selectedRegion" (change)="onRegionChange()">
        <option value="">Filter by Region</option>
        <option *ngFor="let region of regions" [value]="region">{{ region }}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let country of filteredCountries" class="col-md-4 mb-4">
      <div class="card country-card h-100" [routerLink]="['/country', country.name]">
        <img [src]="country.flags.svg" class="card-img-top" alt="{{ country.name }} flag">
        <div class="card-body">
          <h5 class="card-title">{{ country.name }}</h5>
          <p class="card-text">
            <strong>Population:</strong> {{ country.population | number }}<br>
            <strong>Region:</strong> {{ country.region }}<br>
            <strong>Capital:</strong> {{ country.capital }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
