<div *ngIf="country" class="country-detail">
  <button (click)="goBack()">Back</button>
  <img [src]="country.flags.svg" alt="{{ country.name }} flag" class="country-flag">
  <h2>{{ country.name }}</h2>
  <p><strong>Native Name:</strong> {{ country.nativeName }}</p>
  <p><strong>Population:</strong> {{ country.population | number }}</p>
  <p><strong>Region:</strong> {{ country.region }}</p>
  <p><strong>Sub Region:</strong> {{ country.subregion }}</p>
  <p><strong>Capital:</strong> {{ country.capital }}</p>
  <p><strong>Top Level Domain:</strong> {{ country.topLevelDomain.join(', ') }}</p>
  <p><strong>Currencies:</strong> {{ currencies }}</p>
  <p><strong>Languages:</strong> {{ languages }}</p>
  <p><strong>Border Countries:</strong>
    <span *ngFor="let border of country.borders">
      {{ border }}
    </span>
  </p>
</div>
